body {
  font-family: Montserrat;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  border-radius: 2px; 
  margin-left:  20px;
  margin-right: 20px;
}

.navbar a {
  color: white;
  display: inline;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  
}
.sidenav img {
  width:  80px;
  padding:  10px;
  margin-left:  10px;
}


.navbar a:hover {
  color: #ffffff;
}

.Profile {
  width:  50%;
  height:   50%;
  display:  inline-block; 
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: orange;
  overflow-x: hidden;
  padding-top: 40px;
}

.sidenav img {
  padding: 6px;
  text-decoration: none;
  size: 5px;
  color: #818181;
  display: inline-block;
}
.sidenav p {
  text-align: center; 
}
#donpic {
  height:   300px;
  width:  300px;
  border-radius:  40%;
}
.fa {
  padding-left: 25px;
  padding-right:  25px;
  size: 200%;    
}
#follow {
  font-size: 30px;
  color: lightblue;
}
